<div id="api">
	<ul id="apis"></ul>
</div>
<div id="copy">
	<h3>API Documentation</h3>
	<p>To the left you'll find the classes and public methods &amp; properties of abaaso</p>
	<p>This documentation is built by abaaso itself, so you can see everything as it appears in the DOM as "abaaso" and "$"</p>
	<p>The global helper function "$" is used to query the DOM, and supports the latest implementation of CSS selectors by browsers. The abaaso namespace is aliased onto $, for syntactic sugar.</p>
</div>
