<h2>Making advanced applications, easy</h2>

<p>abaaso is an enterprise class, light weight, RESTful JavaScript framework that provides a set of classes and object prototyping to ease the creation and maintenance of pure JavaScript applications. abaaso is a Level Three framework, on the Richardson Maturity Model. Don't know REST? No problem! It's not going to get in your way.</p>
<p>abaaso extends the prototypes of Array, Element, Number, and String with methods (functions) to make magic possible. Semantic classes &amp; methods (Object Oriented Programming) strive to make anything as easy as saying it! Wait, isn't extending prototypes dangerous? No, it's the nature of the language.</p>
<p>abaaso is event oriented, with a global observer. The methods on(), fire() and un() is how you register, trigger &amp; unregister listeners. You can see what listeners are registered on something with listeners(), which accepts an optional event parameter.</p>

<div class="col">
  <h3>Features</h3>
  <ul>
    <li>Automatic <a href="http://en.wikipedia.org/wiki/Representational_State_Transfer">RESTful</a> XHR / AJAX!</li>
    <li><a href="http://en.wikipedia.org/wiki/HATEOAS">Hypermedia As The Engine Of Application State (HATEOAS)</a> with a user defined HTTP header</li>
    <li>Object Oriented Programming with classes, methods and chaining</li>
    <li>Semantic classes &amp; methods, easy to read and easy to say out loud</li>
    <li>AMD loaders supported</li>
    <li>$ for DOM queries &amp; sugar, a$ in "no conflict" mode</li>
    <li>Advanced event handling with multiple Application States</li>
    <li>Deep Setting with $.define</li>
  </ul>
</div>

<div class="col">
  <h3>What is Supported?</h3>
  <p>All standards compliant browsers and platforms such as Desktops, Tablets, Smartphones, Google TV, and more!
  <ul>
    <li>Microsoft Internet Explorer 8+ (Standards Mode)</li>
    <li>Google Chrome 6+</li>
    <li>Mozilla FireFox 3.6+</li>
    <li>Apple Safari 5+</li>
    <li>Opera 9+</li>
    <li>Apple iPhone / iPod Touch / iPad</li>
    <li>Google Android</li>
    <li>Adobe Air</li>
  </ul>
</div>

<div class="col">
  <h3>Twitter</h3>
  <ul>
    <li id="twitter"></li>
  </ul>
</div>