* {
	margin      : 0 0 0 0;
	padding     : 0 0 0 0;
	-webkit-transition : all 0.3s ease-in;
	-moz-transition    : all 0.3s ease-in;
	-o-transition      : all 0.3s ease-in;
	transition         : all 0.3s ease-in;
}

html, body {
	min-height  : 100%;
}

body {
	background  : #f6f7fa;
	color       : #000;
	font-family : helvetica, arial;
	font-size   : 12px;
	line-height : 22px;
	opacity     : 0;
}

a {
	color              : #666;
	text-decoration    : underline;
	cursor             : pointer;
}

a:hover {
	color              : #ff9900;
}

header h1 {
	width    : 930px;
	margin   : 0 auto 0 auto;
	display  : block;
}

article,
footer {
	margin   : 0 auto 0 auto;
	width    : 960px;
	display  : block;
}

header {
	background : #000;
}

header h1 {
	font-size   : 14px;
	color       : #fff;
	background  : url(logo.png) no-repeat;
	vertical-align : top;
	padding-left : 30px;
}

header h1 img {
	padding-top : 5px;
}

ul.root {
	margin-top  : -40px;
}
ul.tab {
	vertical-align : middle;
}

ul.tab li {
	display    : inline;
	margin     : 0 20px 0 0;
}

ul.tab li:last-child {
	margin     : 0 0 0 0;
}

section.active {
    display    : inline-block;
}

section.root {
	margin-top : 25px;
	clear      : both;
	text-align : left;
}

li {
	margin     : 0 0 5pt 0;
	list-style-type : none;
}

h1, h2, h3, h4, h5, h6 {
	font-weight : bold;
}

p, h2, h5, h6, pre {
	margin    : 0 0 20pt 0;
}

h3, h4 {
	margin    : 0 0 5px 0;	
}

code, pre {
	font-size : 10pt;
}

footer {
	margin-top : 100px;
}

#copy {
	display   : inline-block;
	vertical-align : top;
	width      : 700px;
	min-height : 500px;
}

#stage {
	text-align : right;
}

.active {
	color      : #000;
}

.col {
	width   : 280px;
	float   : left;
	clear   : none;
	margin  : 20px 60px auto auto;
}

.col .loading {
	text-align : left;
}

.col:last-child {
	margin-right : 0 !important;
}

.hidden {
	display : none;
}

.loading {
	text-align : center;
}

.round {
	-webkit-border-radius : 5px;
	-moz-border-radius    : 5px;
	border-radius         : 5px;
}

.shadow {
	-webkit-box-shadow: 0px 5px 10px 1px #888;
	-moz-box-shadow: 0px 5px 10px 1px #888;
	box-shadow: 0px 5px 10px 1px #888;
}

.bottom {
	margin-bottom   : 20px;
}

.button {
	text-shadow     : none;
	color           : #fff;
	font-weight     : normal;
	line-height     : 40px;
	text-decoration : none !important;
	background-color: #404040;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(64, 64, 64)), to(rgb(27, 27, 27)));
	background-image: -webkit-linear-gradient(top, rgb(64, 64, 64), rgb(27, 27, 27));
	background-image: -moz-linear-gradient(top, rgb(64, 64, 64), rgb(27, 27, 27));
	background-image: -o-linear-gradient(top, rgb(64, 64, 64), rgb(27, 27, 27));
	background-image: -ms-linear-gradient(top, rgb(64, 64, 64), rgb(27, 27, 27));
	background-image: linear-gradient(top, rgb(64, 64, 64), rgb(27, 27, 27));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#404040', EndColorStr='#1b1b1b');
	border             : 1px solid #000;
}

.button:hover {
	color           : #000;
	background-color: #ffffff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 255, 255)), to(rgb(252, 253, 57)));
	background-image: -webkit-linear-gradient(top, rgb(255, 255, 255), rgb(252, 253, 57));
	background-image: -moz-linear-gradient(top, rgb(255, 255, 255), rgb(252, 253, 57));
	background-image: -o-linear-gradient(top, rgb(255, 255, 255), rgb(252, 253, 57));
	background-image: -ms-linear-gradient(top, rgb(255, 255, 255), rgb(252, 253, 57));
	background-image: linear-gradient(top, rgb(255, 255, 255), rgb(252, 253, 57));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ffffff', EndColorStr='#fcfd39');
	border          : 1px solid #fcfd39;
}

a.active {
	color           : #000;
	background-color: #fcfd39;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(252, 253, 57)), to(rgb(255, 145, 35)));
	background-image: -webkit-linear-gradient(top, rgb(252, 253, 57), rgb(255, 145, 35));
	background-image: -moz-linear-gradient(top, rgb(252, 253, 57), rgb(255, 145, 35));
	background-image: -o-linear-gradient(top, rgb(252, 253, 57), rgb(255, 145, 35));
	background-image: -ms-linear-gradient(top, rgb(252, 253, 57), rgb(255, 145, 35));
	background-image: linear-gradient(top, rgb(252, 253, 57), rgb(255, 145, 35));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#fcfd39', EndColorStr='#ff9123');
	border          : 1px solid #ff9123;
}

.padded {
	padding         : 10px;
}
