@font-face {
	font-family : 'Apertura-Condensed';
	font-style  : normal;
	font-weight : normal;
	src         : url('Apertura-Condensed.otf');
}

* {
	margin      : 0 0 0 0;
	padding     : 0 0 0 0;
	-webkit-transition : all 0.3s ease-in;
	-moz-transition    : all 0.3s ease-in;
	-o-transition      : all 0.3s ease-in;
	transition         : all 0.3s ease-in;
}

html, body {
	min-height  : 100%;
	min-width   : 1000px;
}

body {
	background  : #f6f7fa;
	color       : #7f7f7f;
	font-family : 'Apertura-Condensed', arial, sans-serif, monospace;
	font-size   : 12pt;
	line-height : 18pt;
	opacity     : 0;
}

a {
	color              : #666;
	font-weight        : bold;
	text-decoration    : none;
}

a:hover {
	color  : #000;
	cursor : pointer;
	filter : dropshadow(color=#fceba1, offx=0, offy=0);
	text-shadow : 0px 0px 3px #fceba1;
}

header, section, footer {
	width    : 960px;
	display  : block;
	margin   : 50px auto;
	overflow : hidden;
	filter   : dropshadow(color=#000, offx=0, offy=0);
	text-shadow : 0px 0px 3px #fff;
}

header {
	height : 100px;
	overflow : hidden;
}

header h1 {
	height : 100px;
	width  : 300px;
	float : left;
}

header nav {
	float      : right;
	margin     : 40px auto;
	width      : 660px;
	text-align : right;
}

header nav ul li {
	display   : inline;
	margin    : 0 5px 0 0;
	/*font-size : 10pt;*/
}

section ul li {
	margin   : 0 0 5pt 0;
	list-style-type : none;
}

#api h3 {
	margin : 0 auto;
}

#apis {
	width    : 200px;
	height   : 500px;
	overflow : auto;
}

#api ul li {
	margin : auto auto auto 18px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight : bold;
}

p, h1, h2, h3, h4, h5, h6 {
	margin : 0 0 20pt 0;
}

section h3 {
	margin : 10pt auto 10pt auto;
}

code {
	font-size : 10pt;
}

footer {
	margin    : 50pt auto 10pt auto;
	font-size : 10pt;
}

#api {
	width : 250px;
	float : left;
}

#gradient {
	opacity    : .2;
	height     : 500px;
	width      : 100%;
	position   : absolute;
	left       : 0px;
	top        : 0px;
	z-index    : -1;
	background : -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
	background : -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0)));
	background : -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
	background : -o-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
	background : -ms-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
	background : linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
	filter     : progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
}

.col {
	width   : 30%;
	float   : left;
	clear   : none;
	margin  : auto 5% auto auto;
}

.share .col {
	width : 20%;
}

.col:last-child {
	margin-right : auto 0 auto auto;
}

.hide {
	display : none;
}

.loading {
	text-align : center;
}
